#transformers
#sentence-transformers
#torch
#PyPDF2
#langchain
#langchain-community
#langchain-huggingface
#langchain-pinecone
#langchain-text-splitters
#streamlit
#pinecone
#python-dotenv
#pypdf

transformers
sentence-transformers
torch
PyPDF2
langchain
langchain-community
langchain-huggingface
langchain-pinecone
langchain-text-splitters
streamlit
pinecone-client
python-dotenv
# For handling more document types
python-docx
unstructured[pptx]
pandas
